{% extends 'base.html'%}

{% block content %}
<div class="container">
    <h1>Customer Details:</h1>
      <table class="table">
        {%if customer%}
        <tbody>
          <tr>
            <td> Name</td>
            <td> {{customer.userName}} </td>
          </tr>
          <tr>
            <td> Address</td>
            <td> {{customer.adl1}} ,{{customer.adl2}},{{customer.locality}},{{customer.city}}-{{customer.zipcode}}  </td>
          </tr>
          <tr>
            <td> Phone no</td>
            <td> {{customer.phno}}  </td>
          </tr>
        </tbody>
        {%endif%}
      </table>
      <h2>Items Ordered</h2>
      <table class="table">
        <thead>
          <th scope="col">Item</th>
          <th scope="col">Image</th>
          <th scope="col">Quantity</th>
          <th scope="col">Fulfilled</th>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td> {{item.item.name}}</td>
            <td> <img src="{{item.item.picture.url}}" alt="{{item.item.name}}">  </td>
            <td> {{item.quantity}} </td>
            <td> 
              <form action="{%url 'fulfilled' item.id%}" method ="POST"> 
                {%csrf_token%}
                <input type="hidden" name="cust_id" value="{{item.id}}">
                <button type ="submit" class="btn btn-primary" name="submit" value="submit">Fulfilled</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  {% endblock%}